<div>
  <%= form.label label, class: "tw:block tw:text-sm tw:font-medium tw:text-secondary-700 tw:dark:tw:text-secondary-300" %>
</div>
<div class="tw:block tw:w-full tw:rounded-lg tw:border tw:border-secondary-300 tw:px-3 tw:py-2 tw:shadow-sm tw:focus:ring-2 tw:focus:ring-primary-500 tw:dark:tw:border-secondary-600 tw:dark:tw:bg-secondary-800 tag-container">
  <%= form.collection_select :tag_list, tags,
        :name, :name, {
          selected: defined?(selected) ? selected : nil
        }.compact, {
          multiple: true,
          class: "tw:block tw:w-full tw:min-h-[2.5rem] tw:border-0 tw:bg-transparent tw:focus:ring-0 tw:p-0",
          name: name ? "#{name}[]" : nil,
          data: {controller: "tag-input", action: "turbo:morph@window->tag-input#reconnect"}
        } %>
</div>
