<h3 class="text-xl font-semibold text-secondary-900 dark:text-secondary-100 mb-2"><%= t(".title") %></h3>
<p class="text-lg text-secondary-600 dark:text-secondary-400">
  <%= t ".summary" %>
</p>
<%= rich_text_input_row form, "files[model_ignored_files]",
      label: t(".custom_ignore_filters.label"),
      help: t(".custom_ignore_filters.details"),
      value: SiteSettings.model_ignored_files.map(&:inspect).join("\n").delete("\"") %>
