<h3><%= t(".title") %></h3>

<%= form_with model: [:settings, @domain_block], class: "tabular-form" do |form| %>

  <%= text_input_row form, :domain %>

  <div>
    <%= form.submit translate(".submit"), class: "tw:inline-flex tw:items-center tw:px-4 tw:py-2 tw:rounded-lg tw:bg-primary-600 tw:text-white hover:tw:bg-primary-700 focus-visible:tw:ring-2 focus-visible:tw:ring-primary-500" %>
  </div>

<% end %>
