<%# Infinite-scroll sentinel (initial HTML + turbo-stream replace). %>
<%
  sentinel_id = local_assigns.fetch(:sentinel_id, "models-scroll-sentinel")
  next_url = local_assigns.fetch(:next_url, "")
  has_more = next_url.present?
  loading_label = local_assigns.fetch(:loading_label, t("models.list.loading_more"))
%>
<% if has_more %>
  <div id="<%= sentinel_id %>"
       class="browse-scroll-sentinel col-span-full"
       data-infinite-scroll-target="sentinel"
       data-next-url="<%= next_url %>"
       data-has-more="true"
       aria-hidden="true">
    <span class="browse-scroll-sentinel__label"><%= loading_label %></span>
  </div>
<% else %>
  <div id="<%= sentinel_id %>"
       class="browse-scroll-sentinel browse-scroll-sentinel--end col-span-full"
       data-has-more="false"
       hidden
       aria-hidden="true"></div>
<% end %>
