<%= yield :page_header %>

<div class="grid grid-cols-1 lg:grid-cols-[1fr_280px] gap-6 mt-6">
  <div class="min-w-0" id="item_list">
    <%= yield :items %>
  </div>
  <aside class="space-y-4" id="sidebar">
    <% action_content = yield :actions %>
    <%= card(:secondary, t(".actions_heading"), class: "action-card") { action_content } if action_content.present? %>
    <%= yield :sidebar %>
  </aside>
</div>

<% parent_layout "application" %>
